


.navbar{
    padding-top: 2px;
    width:100%;
    border-bottom: 2px solid;
    display: flex;
    flex-direction: row;
    background-color: gray;
    
    /* justify-content: space-around; */
}

.navButtons{
    
    
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width:50%
}

.pantryLink{
background-color: var(--pantry-accent);
}
.recipesLink{
    background-color: var(--recipe-accent);
    
}
.groceriesLink{
    background-color: var(--grocery-accent);
}
.navbarLink{
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin-left: 1px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    width: 15%
}